{% extends 'layout.html' %}
{% block body %}
 <div class="home">
  {% if current_user.is_authenticated %}
    <div class="cont">
        <div class="left-section">
            <h3>Options</h3>
            <ul class="form-group">
              <li class="list-group-item">Payment</li>
              <li class="list-group-item">Payment</li>
              <li class="list-group-item">Payment</li>
            </ul>
            
          </div>
           <div class="">
             <h3>Options</h3>
             <a href=""><ul class="form-group">
                <a class="list-group-item" href="{{url_for('UserDetails')}}">Student Details</a>
                <a class="list-group-item" href="{{url_for('UserDetails')}}">Course Details</a>
                <a class="list-group-item" href="{{url_for('UserDetails')}}">Grades Details</a>
 
              </ul>
             </a>
           </div>
    </div>
  {%else%}
  <center>
    <h1 class="display-3">StudeBase</h1>
    <p class="lead">Your best student Database manager</p>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Create An Account</a>
    </p>
  </center>
  {%endif%}
 </div>
{% endblock %}


