<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% if title %}
                StudeBase | {{title}}
        {%else%}
                StudeBase 
        {% endif %}
        
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>
 <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #053557;">
     <a class="navbar-brand" href="/"><h1>StudeBase</h1></a>
  
     <div class="collapse navbar-collapse" id="collapsibleNavId">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item active">
                 <a class="nav-link" href="/users">User Details</a>
             </li>
             <li class="nav-item active">
                 <a href="/logout" class="nav-link">Log Out</a>
            {%else%}
                  
                 <a class="nav-link" href="/login">Login</a>
           
            </li>
            {%endif%}
          
       
     </div>
 </nav>
 {% block body %}
        
 {% endblock %}
    <footer style="padding:20px">
       <center> StudeBase &copy; 2019</center>
    </footer>
</body>
</html>